#ribbon
  .button
    %a(href="/index.html" class="ribbon_button") Main Menu
  .button
    %a(href="/work_orders/index.html" class="ribbon_button") Work Orders
  .button
    %a(href="/report/index.html" class="ribbon_button") Reports
