#header
  =render_partial '/global_nav'
  %h2 Work Order Description for #549684
%hr
.span-10
  %h3 Equipment # DOT568543
  %table
    %tbody
      %tr
        %td Odometer
        %td 52863
      %tr
        %td Department
        %td FOR
      %tr
        %td Requested by
        %td Eddie Robinson
      %tr
        %td Requested by
        %td Eddie Robinson
.span-12.last
  %h3 Description: 2000 Sterl 9500
  %table
    %tbody
      %tr
        %td Cost Center
        %td 434
      %tr
        %td Location
        %td D8
      %tr
        %td Phone
        %td
      %tr
        %td Date In
        %td 09/03/2010
.span-10
  %h3 Work Requested or Problem
  %p
    Damaged Fender
.span-12
  %h3 Work Performed
  %p
    Repaired Fender
.span-12
  %table
    %tbody
      %tr
        %td Notified
        %td Date
        %td 01/01/2010
        %td Name
        %td Bob Smith

      %tr
        %td Picked Up
        %td Date
        %td 01/01/2010
        %td Name
        %td Bob Smith

.span-5
  Inspector:
  Tommy Jones
