!!!
%html
  %head
    %title Reports
    %link(type="text/css" rel="stylesheet" href='/css/formtastic.css')
    %link(type="text/css" rel="stylesheet" href='/css/formtastic_changes.css')
    %link(type="text/css" rel="stylesheet" href='/css/screen.css')
    %script(type="application/javascript" src="jquery.js")
    %script(type="application/javascript" src="application.js")
  %body.bp
    #container
      = yield
