%p
  %b Description
  %a(href="/report/description.html") Edit
  %br
  Shows Work orders for the given time frame.
%p
  %b Columns
  %a(href="/report/columns.html") Edit
%ul
  %li Vehicle Make
  %li Vehicle Model
  %li Vehicle Year
  %li Work Order Creation
  %li Crew
  %li Total Parts

%p
  %b Filters
  %a(href="/report/filters.html") Edit
%ul
  %li Agency is "Forrestry"
  %li Work Order Creation &gt;= 01/01/2010
  %li Make is "Ford"

%p
  %b Sorts
  %a(href="/report/sorts.html") Edit
%ul
  %li Work Order Creation Descending
  %li Model Descending
%p
  %b Schedules
  %a(href="/report/schedules.html") Edit
%ul
  %li Every week on Monday
