#run
  %h3 Run the report
  %p
    Specify the format,
    recipients, and immediately run a report
  %a(href="/report/run.html") Run the report...
#save_changes
  %h3 Save changes
  %p
    Save changes to the report, and go back
    to the list of reports.
  %a(href="/report/index.html") Save changes
#save_copy
  %h3 Save Copy
  %p
    Save these settings as a new report.
  %a(href="/report/save_as.html") Save as...
